/bit-icons/emoji_activities-*.png
/bit-icons/emoji_animals_nature-*.png
/bit-icons/emoji_flags-*.png
/bit-icons/emoji_food_drink-*.png
/bit-icons/emoji_objects-*.png
/bit-icons/emoji_people_body-*.png
/bit-icons/emoji_sky_weather-*.png
/bit-icons/emoji_smileys_emotion-*.png
/bit-icons/emoji_symbols-*.png
/bit-icons/emoji_time-*.png
/bit-icons/emoji_travel_places-*.png
/bit-icons/text-*.png
/.emoji_list.*.txt
/.text_list.txt
