{%- if slug == 'faq' -%}
<span class="Button Button--plain is-disabled">FAQs</span>
{%- else -%}
<a class="Button Button--plain" href="/d/faq/">FAQs</a>
{%- endif -%}

{%- if slug == 'about' -%}
<span class="Button Button--plain is-disabled">About</span>
{%- else -%}
<a class="Button Button--plain" href="/d/about/">About</a>
{%- endif -%}

{%- if slug == 'contribute' -%}
<span class="Button Button--plain is-disabled">Contribute</span>
{%- else -%}
<a class="Button Button--plain" href="/d/contribute/">Contribute</a>
{%- endif -%}

{%- if slug == 'help' -%}
<span class="Button Button--plain is-disabled">Help</span>
{%- else -%}
<a class="Button Button--plain" href="/d/help/">Help</a>
{%- endif -%}
