<a href="https://discord.gg/uVhE2Kd">
  <img src="{{ url_for('send_media_file', filename='other/Discord-Logo+Wordmark-White.svg') }}" width="117" height="32" alt="Chat with us on Discord">
</a>
<a href="{{ config.PACKAGEJSON.homepage }}">
  <img src="{{ url_for('send_media_file', filename='GitHub-Mark-Light-120px-plus.png') }}" alt="Fork the code on GitHub" width="32" height="32">
</a>
<a href="https://www.facebook.com/groups/251124511674963">
  <img src="{{ url_for('send_media_file', filename='other/f_logo_RGB-White_100.png') }}" width="32" height="32" alt="Find us on Facebook">
</a>
